#widget-container {
    width: 100%;
    margin: 0 auto;
}

#widget-container section {
    margin: 30px 30px;
    padding: 20px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개의 열 */
    gap: 20px; /* 위젯 간의 간격 */
    grid-auto-rows: 1fr;
}

.widget {
    position: relative;
    width: 100%;
    padding-top: 100%; /* 정사각형 비율 유지 (100%의 높이) */
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}

.widget > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* 1x1 크기 (한 칸) */
.widget.size-1x1 {
    grid-column: span 1;
}

/* 2x1 크기 (두 칸) */
.widget.size-2x1 {
    grid-column: span 2;
    padding-top: 50%;
}

/* 3x1 크기 (세 칸) */
.widget.size-3x1 {
    grid-column: span 3;
    padding-top: 33.33%;
}

/* 드래그 중인 위젯 */
.widget.dragging {
    opacity: 0.5;
    transform: scale(1.1); /* 확대되며 드래그 효과 시각화 */
    background-color: #e0e0e0;
    border-color: #999;
    cursor: grabbing;
}

/* 드롭 가능한 영역 스타일 */
.drag-over {
    border: 2px dashed #007bff !important;
    background-color: #f8f9fa; /* 드롭 영역 시각적 강조 */
}


/* 변수 */
:root {
    --weather-light-sky-start: rgba(138, 206, 255, 1);
    --weather-light-sky-end: rgba(94, 156, 200, 1);
    --weather-light-sky: 180deg, rgba(138, 206, 255, 1) 0%, rgba(94, 156, 200, 1) 100%;
}

/* 위젯 별 스타일 */
.calander, .memo, .info, .bookmark {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.calander-container, .memo-container, .info-container, .bookmark-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.calander-main, .bookmark-main {
    margin: 10px;
}

.calander-main li:first-child {
    font-size: x-large;
    color: #ff5d55;
    line-height: 0;
}

.calander-main li > h5 {
    font-size: xxx-large;
    font-family: 'Arial', sans-serif;
}

.calander-main li:last-child {
    line-height: 1;
}

.calander-sub {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: small;
    margin: 0 15px 0 124px;
    padding: 0;
}

.calander-sub-item span:first-child {
    font-size: medium;
}

.calander-sub-item span:last-child {
    line-height: 2;
}

.calander-sub-item span:last-child > a {
    color: #333333;
}

.calander-sub::before {
    content: '';
    position: absolute;
    border-left: 2px dotted #ccc;
    width: 1px;
    height: 100%;
    left: 184px;
}

.calander-sub-item span:last-child::after {
    content: '';
    width: 70%;
    left: 194px;
    padding-right: 999999px;
    position: absolute;
    border-bottom: 1px solid #ff5d55;
}

.weather {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--weather-light-sky));
}

.weather-container {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.weather-main-container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-left: 10px;
    color: #fff;
}

.weather-main {
    display: flex;
    flex-direction: row;
    font-size: 5em;
    font-weight: bold;
    gap: 20px;
    line-height: 1;
    margin-bottom: 5px;
}

.weather-main > li span:nth-child(2) {
    font-size: 0.5em;
    font-weight: bold;
    vertical-align: super;
}

.two-one .weather-main {
    width: 100%;
    justify-content: space-between;
}

.two-one .weather-main li:first-child {
    margin-bottom: 30px;
}

.two-one .weather-main li:last-child {
    position: absolute;
    top: calc(50% - 0.5em);
    right: 30px;
}

.weather-sub {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    bottom: 10px;
}

.weather-sub ul {
    font-size: medium;
}

.weather-ex {
    position: absolute;
}

.weather-ex > span::after {
    content: '';
    width: 1px;
    height: 100%;
    border-radius: 100%;
    border-left: 17px solid #fff;
    margin-left: 5px;
}

.two-one .weather-sub {
    bottom: 30px;
}

.two-one .weather-ex {
    bottom: 5px;
}

.three-one .weather-ex {
    top: 10px;
}

.memo-main, .info-main {
    margin: 10px;
}

.memo-main h5, .info-main h5 {
    font-size: xxx-large;
    font-weight: bold;
    width: 100%;
    line-height: 1.5;
}

.memo-main p, .info-main p {
    font-size: medium;
    position: relative;
}

.memo-main p::before, .info-main p::before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 30px;
    left: 0;
    overflow: hidden;
    border-top: 1px solid #ff0000;
}

.info {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.bookmark-container {
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.bookmark-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.two-one .bookmark-main {
    grid-template-columns: repeat(2, 1fr);
}

.three-one .bookmark-main {
    grid-template-columns: repeat(3, 1fr);
}

.bookmark-main .bookmark-item {
    margin: 5px;
    aspect-ratio: 1 / 1;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: #9a9a9a;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.one-one .bookmark-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
}


