#widget-container {
    width: 100%;
    margin: 0 auto;
}

#widget-container section {
    margin: 30px 30px;
    padding: 20px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개의 열 */
    gap: 20px; /* 위젯 간의 간격 */
    grid-auto-rows: 1fr;
}

.widget {
    position: relative;
    width: 100%;
    padding-top: 100%; /* 정사각형 비율 유지 (100%의 높이) */
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}

.widget > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* 1x1 크기 (한 칸) */
.widget.size-1x1 {
    grid-column: span 1;
}

/* 2x1 크기 (두 칸) */
.widget.size-2x1 {
    grid-column: span 2;
    padding-top: 50%;
}

/* 3x1 크기 (세 칸) */
.widget.size-3x1 {
    grid-column: span 3;
    padding-top: 33.33%;
}

.dragging {
    opacity: 0.5;
    background-color: #ddd;
}

/* 위젯 별 스타일 */
.calander{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.calander-container{
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    height: 100%;
}
.calander-main{
    margin: 10px;
}
.calander-main li:first-child{
    font-size: x-large;
    color: #ff5d55;
    line-height: 0;
}
.calander-main li>h5{
    font-size: xxx-large;
    font-family: 'Arial', sans-serif;
}
.calander-main li:last-child{
    line-height: 1;
}
.calander-sub{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: small;
    margin: 0 15px 0 124px;
    padding: 0;
}
.calander-sub-item span:last-child{
    line-height: 2;
}
.calander-sub-item span:last-child>a{
    color: #333333;
}
.calander-sub::before{
    content: '';
    position: absolute;
    border-left: 2px dotted #ccc;
    width: 1px;
    height: 100%;
    left: 184px;
}
.calander-sub-item span:first-child{
    font-size: large;
}
.calander-sub-item span:last-child::after{
    content: '';
    width: 70%;
    left: 194px;
    padding-right: 999999px;
    position: absolute;
    border-bottom: 1px solid #ff5d55;
}