@media screen and (min-width: 1024px) {
    #widget-container section {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (min-width: 2048px) {
    #widget-container section {
        grid-template-columns: repeat(12, 1fr);
    }
}

@media screen and (max-width: 720px) {
    #profile-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #main-container {
        width: 100%;
        margin: 0 auto;
    }

    #main-container section {
        margin: 30px 30px;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
    }

    #profile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #profile-container img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        margin-right: 0;
    }

    #profile-container ul li:first-child h3 {
        margin-top: 10px;
    }

    #profile-container ul:last-child {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #profile-container ul:last-child li {
        margin: 0 5px 0 5px;
    }

    #profile-container ul:last-child .profile-number {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    #main-container section article {
        margin-top: 20px;
        padding-top: 10px;
    }

    #profile-number-container {
        margin-top: 10px;
        margin-left: 0;
    }

    #widget-container {
        width: 100%;
        margin: 0 auto;
    }

    #widget-container section {
        gap: 10px;
    }
}

@media screen and (max-width: 420px) {
    #widget-container section {
        margin: 10px 10px;
        padding: 10px 5px;
    }
}

/* 위젯 */
